.header-content{
    min-height: 75vh;
    background: linear-gradient(rgba(39, 174, 97, 0.3), rgba(39, 149, 174, 0.178)), url("../../Assets/wolflink9530_Realistic_fantasy_world_a_bit_like_sword_art_onlin_fae1a52a-0912-4da1-8169-12e46e1fa7b0.png") center/cover no-repeat;
    flex-direction: column;
}
.header-title{
    font-size: 4.2rem;
}
.header-text{
    margin-top: -1.8rem;
    margin-bottom: 2.8rem;
    opacity: 0.8;
    max-width: 770px;
}